@tailwind base
@tailwind components
@tailwind utilities

@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap')

:root
  --primary-background-color: #333
  --primary-text-color: #fff

html, body
  background-color: var(--primary-background-color)
  color: var(--primary-text-color)

.font-langar
  font-family: 'Langar', cursive
